.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#app {
  background-color: white;
  color: #282c34;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  margin: 20px;
}

div {
    color: white;
    align-items: center;
}

form {
  align-items: center;
}

.tbody {
  align-items: left;
  color: black;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

table {
  border-collapse: separate;
  margin: 25px 0;
  font-size: 1,2em;
  color: black;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: left;
}

th {
  color: pink;
}

td {
  background-color: #ffffff;
  border-radius: 5px;
  padding-top: 2px;
  border-spacing: 5%;
}

#tabscss {
  color: white !important;
}